:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --background-color-white: #ffffff;
  --text-color: #2e2f42;
  --color-brand: #4d5ae5;
  --main-color: #434455;
  --color-icon: #f4f4fd;
  --color-brand-blue: #404bbf;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
  background-color: var(--background-color-white);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-brand);
}
.logo-studio {
  color: var(--text-color);
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-address {
  display: flex;
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  padding: 24px 0;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-brand-blue);
}
.page-header {
  background: #ffffff;
  /* CORNFLOWER */

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.active::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: var(--color-brand-blue);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-portfolio::after {
  content: '';
  position: absolute;
  width: 66px;
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: var(--color-brand-blue);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-link.active {
  color: var(--color-brand-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.active-portfolio {
  color: var(--color-brand-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail-tel {
  font-style: normal;
  display: flex;
  /*margin-left: auto;*/
}
.menu-address {
  display: flex;
}
.address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
  color: var(--color-brand-blue);
}
/*hero-section*/
.hero-section {
  text-align: center;
  padding: 112px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/hero-mobile.jpg');
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolutio: 192dpi) and (max-width: 767px),
  screen and (min-resolutio: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/hero-mobile@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/hero-tablet.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolutio: 192dpi) and (min-width: 768px),
  screen and (min-resolutio: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/hero-tablet@2x.jpg');
  }
}
@media screen and (min-width: 1168px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/hero-desktop.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1168px),
  screen and (min-resolutio: 192dpi) and (min-width: 1168px),
  screen and (min-resolutio: 2dppx) and (min-width: 1168px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/hero-desktop@2x.jpg');
  }
}
/*section-hero*/
.main-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  color: var(--background-color-white);

  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 72px;
}
.button-on-hero {
  padding: 16px 32px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: var(--background-color-white);

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-on-hero:hover,
.button-on-hero:focus {
  background-color: rgba(64, 75, 191, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*secondary-sectio*/
.secondary-section-picture {
  background-color: rgba(244, 244, 253, 1);
  height: 112px;
  width: 264px;
  border-radius: 4px;
  padding: 24px 0;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.picture-list-icon {
  display: block;
}
.text-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
  letter-spacing: 0.02em;
}
.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  margin-bottom: 72px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--text-color);
}
.section-list {
  gap: 72px;
  display: flex;
  flex-direction: column;
}

.secondary-section {
  padding: 96px 0;
}
@media screen and (max-width: 767px) {
  .address-mail-tel {
    display: none;
  }
  .page-header {
    padding: 24px 0;
  }
  .menu {
    display: none;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    stroke: #2e2f42;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding: 80px 35px 40px 40px;
  }
  .menu-nav {
    margin-bottom: 284px;
  }
  .menu-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .menu-mobile-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */

    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* NAVY BLUE */

    color: #2e2f42;
  }
  .menu-mobile-link.active {
    color: var(--color-brand-blue);
  }

  .address-mobile-mail-tel {
    margin-bottom: 48px;
  }
  .menu-mobile-address {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    border-radius: 50%;

    padding: 0;
    background: #e7e9fc;

    border: 1px solid rgba(46, 47, 66, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    border-radius: 50%;
    display: flex;
    padding: 0;

    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-mobile-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */

    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* IRIS */

    color: #4d5ae5;
  }
  .address-mobile-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: #434455;
  }
  .social-list {
    display: flex;
    gap: 56px;
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-icon {
    fill: var(--background-color-white);
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: var(--color-brand-blue);
  }
  .section-customers {
    padding: 120px 0;
  }
  .social-list-item {
    flex-basis: calc((100%-168px) / 4);
  }
  .menu-mobile-item {
    flex-basis: calc((100%-80px) / 3);
  }
  .hero-mobile-f {
    text-transform: uppercase;
  }
  .mobile-width {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .address {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--main-color);
  }
  .menu-address {
    flex-direction: column;
    gap: 12px;
  }
  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
  .page-nav {
    padding: 24px 0;
  }

  .logo {
    margin-right: 120px;
  }

  .menu {
    column-gap: 24px;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;

    color: var(--background-color-white);

    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 36px;
  }
  .subtitle {
    text-align: left;
  }
  .section-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 72px;
  }
  .item-secondary-section {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .menu-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }

  .address:hover,
  .address:focus {
    color: var(--color-brand-blue);
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;

    color: var(--background-color-white);

    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 48px;
  }
  .hero-section {
    padding: 188px 0;
  }

  .section-list {
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .item-secondary-section {
    flex-basis: calc((100%-72px) / 4);
  }
  .secondary-section {
    padding: 120px 0;
  }
  .secondary-section-picture {
    display: flex;
  }
  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .text-description {
    font-weight: 400;
  }
}
/*

.logo-studio-footer {
  color: #f4f4fd;
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  padding: 24px 0;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-brand-blue);
}



.modal-open-btn {
  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-brand);
  font-weight: 500;
  background-color: #f4f4fd;
  flex-basis: calc((100%-96px) / 5);
  padding: 12px 24px;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/

/*
.modal-open-btn:hover,
.modal-open-btn:focus {
  
  color: var(--background-color-white);
  display: flex;
  border: 1px solid transparent;
  padding: 12px 24px;

  

  background: var(--color-brand-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  
}


*/

/*
.footer {
  background: var(--text-color);
  padding: 100px 0;
}



.employees-list-item {
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100%-72px) / 4);
}
.employees-text-content {
  padding: 32px 0;
  text-align: center;
}
*/

/*
.item-third-section {
  flex-basis: calc((100%-48px) / 3);
}
.portfolio-batton-list {
  display: flex;

  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}
.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-portfolio-card {
  background: var(--background-color-white);
  overflow: hidden;
}
.overlay {
  position: relative;
  overflow: hidden;
}

.link-portfolio-picture:hover .p-overlay,
.link-portfolio-picture:focus .p-overlay {
  transform: translateY(0);
}
.p-overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 296px;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  letter-spacing: 0.02em;
  overflow: auto;
  background: #4d5ae5;
  mix-blend-mode: normal;
  border: 1px solid #000000;
 

  color: #f4f4fd;
}
.item-portfolio-card:hover,
.item-portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title-description-cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-page-portfolio {
  padding: 96px 0 120px;
}
.third-section {
  padding-bottom: 120px;
}
.logo-footer {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-brand);
  display: inline-block;
  margin-bottom: 16px;
}
.paragraf-footer {
  max-width: 264px;
  color: #f4f4fd;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: var(--background-color-white);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-brand-blue);
}
.section-customers {
  padding: 120px 0;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  display: block;
  background-position: center center;
  fill: currentColor;
}
.customers-item {
  height: 88px;
  flex-basis: calc((100%-120px) / 6);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--color-brand-blue);
  border-color: var(--color-brand-blue);
}
.footer-list {
  align-items: baseline;
  display: flex;
}
.block-footer-logo {
  margin-right: 120px;
}
.block-footer-social-media {
  margin-right: 80px;
}
.title-footer {
  color: var(--background-color-white);
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 16px;
}
.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}
.input-email-footer {
  border: 1px solid var(--background-color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 12px;
  color: #ffffff;
}
.footer-email-btn {
  margin-right: 24px;
}
.input-email-footer::placeholder {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  
  padding-left: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}
.footer-subscribe-email-btn {
  display: flex;
}
.footer-btn-subscribe {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border: none;
  color: var(--background-color-white);
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}
.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
  background-color: rgba(64, 75, 191, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.link-portfolio-picture {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio-picture:hover,
.link-portfolio-picture:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*section-hero-modlka*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  min-width: 408px;
  min-height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}
.close-modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  padding: 0;

  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-button:hover,
.close-modal-button:focus {
  background-color: var(--color-brand-blue);
  border: none;
}
.close-modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-button:hover .close-modal-icon,
.close-modal-button:focus .close-modal-icon {
  fill: var(--background-color-white);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.title-backdrop {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-backdrop {
  display: flex;
  flex-direction: column;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-form-textarea {
  margin-bottom: 16px;
}
.modal-form-field {
  display: block;
  margin-bottom: 4px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-input {
  width: 100%;
  padding-left: 38px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input,
textarea {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}
.modal-btn-send {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: var(--background-color-white);

  background: var(--color-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: rgba(64, 75, 191, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-form-message {
  display: block;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  background-color: transparent;
  letter-spacing: 0.04em;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
}
.modal-icons {
  position: absolute;
  fill: 2e2F42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icons {
  position: relative;
  display: block;
}
.modal-form-input:focus + .modal-icons {
  fill: var(--color-brand);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-message:focus {
  border: 1px solid var(--color-brand);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.contact-form-checkbox-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
.contact-form-checkbox-text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-form-own-checkbox {
  border-radius: 2px;
  border: 1px solid #2e2f42;

  fill: transparent;
  cursor: pointer;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  padding: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.checbox-icon {
  display: flex;
}

.contact-form-checkbox:checked + .contact-form-checkbox-text .contact-form-own-checkbox {
  background-color: var(--color-brand-blue);
  border: none;
  border-color: var(--color-brand-blue);
  border-radius: 2px;
  fill: #fff;
}
.policy {
  color: #4d5ae5;
}
